$hover-margin: -2px;
$size: 75px;

.deck-item-container {
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.6);
    border-radius: 0.5rem;
    box-shadow: 0px calc(var(--size) / 6) calc(var(--size) / 3) rgba(black, 0.1);

    height: $size;
    width: $size;
    color: white;
    cursor: pointer;

    --transition-duration: 100ms;
    --transition-easing: ease-out;

    transition: transform var(--transition-duration) var(--transition-easing);
    overflow: hidden;

    &:hover {
        transform: translate(-4%, -4%);
    }

    &:active {
        transform: translate(0%, 0%);
    }
}
